<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <div class="photos">
        <p  class="heading"><%= theme.title %></p>
        <button onClick="location.href='/themes/<%= theme.id %>/newPhoto'">Add photo to theme</button>
        <div class="photos-container">
            <% photos.forEach((photo) => { %>
                <%- include("displayPhoto", {theme: theme, photo: photo}) %>
            <% }) %>
        </div>
    </div>


</body>
</html>