<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <h1><%= theme.title %></h1>
    <button onClick="location.href='/themes/<%= theme.id %>/newPhoto'">Add photo to theme</button>
    <div class="photos">
        <% photos.forEach((photo) => { %>
            <%- include("displayPhoto", {theme: theme, photo: photo}) %>
        <% }) %>
    </div>

</body>
</html>