<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Gallery</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>

    <div>
        <p> Memory Gallery</p>
        <button onClick="location.href='/themes/new'"> add new theme </button>
        <div class="themes">
            <%  themes.forEach((theme) => { %>
                <%- include('theme', {theme: theme}) %>
            <% })%>
        </div>
    </div>

    
</body>
</html>