.themes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}
.theme {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 0;
    justify-content: center;
}
.theme img, .photo img {
    padding: 0;
    margin: 0;
    width: 300px; /* Set the desired fixed width */
    height: 300px; /* Set the desired fixed height */
    object-fit: cover; /* Crop the image to cover the specified dimensions while maintaining the aspect ratio */
    object-position: center; /* Center the image within the cropped area */
}

.theme p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.theme p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.details img {
    width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

button {
    padding: 5px;
    background-color: pink;
    border-radius: 3px;
    border: none;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 800;
    color: rgb(188, 104, 205);
}
.add-new-theme {
    width: 200px;
    height: auto;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(228, 237, 136);
}